.liste {
  padding-block: 32px;

  h1 {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #00497c;
  }

  .compteur {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 21px;
    color: #384050;
  }
}

@media (min-width: 992px) {
  .liste h1 {
    font-size: 44px;
    line-height: 52px;
  }
}
