.legal {
  margin: 72px 60px 192px 60px;
}
.legal {
  h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #00497c;
    margin-bottom: 32px;
  }
}

.chapeau {
  font-size: 16px;
  line-height: 26px;
  color: #384050;
  font-weight: 600;
  margin-bottom: 12px;
}

.legal {
  p {
    color: #384050;
    font-size: 16px;
    line-height: 26px;
  }
}
